body{
    font-family: Ariel, Sans-serif;
    background-color: hsl(0, 0%, 95%);

}

form{
    background-color: white;
    text-align: center;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px hsla(0, 64%, 49%, 0.21);
    max-width: 350px;
    margin: auto;
     
}


h1{
    color: hsl(312, 77%, 46%);
}

#textBox{
    width: 50%;
    text-align: center;
    font-size: 2em;
    border: 2px solid hsl(0, 0%, 81%);
    border-radius: 10px;
    margin-bottom: 15px;
}


label{
    font-size: 1.5em;
    font-weight: bold;
}

button{
    margin-top: 15px;
    background-color: hsl(113, 100%, 60%);
    font-size: 1.5em;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

button:hover{
    background-color: hsl(113, 100%, 40%);


}

#result{
    font-size: 1.50em;
    font-weight: bold;
}